.input {
  box-sizing: border-box;
  height: 2.3rem;
  max-width: 100%;
  min-width: 100px;

  font-size: var(--size-small);
  color: var(--color-dark);

  background: none;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  outline: none;

  padding-left: 1rem;

  transition: border-color cubic-bezier(0.645, 0.045, 0.355, 1) .3s,
    box-shadow cubic-bezier(0.645, 0.045, 0.355, 1) .3s;

  --color-shadow: var(--color-sub);
  --color-border-hover: var(--color-sub);

  &:hover,
  &:focus {
    border-color: var(--color-border-hover);
  }

  &[disabled] {
    border-color: var(--color-border);
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: var(--color-shadow) 0 0 10px -4px;
  }

  &.auto {
    width: 100%;
  }

  &.normal {
    width: 220px;
    height: 2rem;
  }

  &.large {
    width: 320px;
    height: 2.2rem;
  }

  &.error {
    --color-shadow: var(--color-danger);
    --color-border: var(--color-danger);
    --color-border-hover: var(--color-danger);
  }
}