.container {
  &+& {
    margin-top: 1rem;
  }
}

.top {
  &+& {
    margin-top: .5rem;
  }
}

.item {
  display: flex;
  flex-flow: row nowrap;

  .space-between & {
    justify-content: space-between;
  }

  .start & {
    justify-content: flex-start;
  }

  .end & {
    justify-content: flex-end;
  }
}

.label {
  font-size: var(--size-normal);
  font-weight: bold;
  padding-bottom: .5rem;
}

.left {

  .label,
  .item {
    display: inline-block;
  }

  .label {
    width: 30%;
    text-align: right;
    padding: 0 .5rem 0;
  }
}