.common {
  --button-color-light: var(--color-light);
  --button-box-shadow: 0 6px 10px 0px;
  box-sizing: border-box;
  font-size: var(--size-small);
  color: var(--color-dark);
  background: var(--color-bg);
  border: none;
  border-radius: var(--border-radius);
  padding: .5em 1em;


  cursor: pointer;
  transition: color cubic-bezier(0.645, 0.045, 0.355, 1) .2s,
    background-color cubic-bezier(0.645, 0.045, 0.355, 1) .2s,
    box-shadow cubic-bezier(0.645, 0.045, 0.355, 1) .2s;

  &:hover {
    -webkit-text-fill-color: none;
    box-shadow: none;
  }
}

.no-outline {
  outline: none;
}

// size
.size-small {
  font-size: var(--size-exsmall);
  min-width: 80px;
}

.size-normal {
  min-width: 100px;
}

.size-large {
  min-width: 185px;
}

.size-auto {
  width: 100%;
}

// type
.type-gradient {
  color: var(--color-light);
  background: var(--color-gradient);
  box-shadow: 0 6px 20px -6px #6F46EF;
}

.type-normal {
  border: 1px solid var(--color-gray-light);
  box-shadow: var(--button-box-shadow) var(--color-gray-light);
}

.type-danger {
  color: var(--button-color-light);
  background: var(--color-danger);
  border-color: var(--color-danger);
  box-shadow: var(--button-box-shadow) var(--color-danger);
}

.common:disabled {
  color: var(--color-gray);
  background: var(--color-disabled);
  border-color: var(--color-disabled);
  box-shadow: none;
  cursor: not-allowed;
}