.wrapper {
  display: inline-flex;
  align-items: center;

  font-size: var(--size-small);
  color: black;

  user-select: none;
  cursor: pointer;
}

.container {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;

  margin-right: .3rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--color-border);
    border-radius: 3px;
  }

  &.active::after {
    border-color: transparent;
    transition: border-color ease .2s .3s;
  }
}

.icon {
  display: block;
  width: 100%;
  height: 100%;

  text-align: center;

  background: var(--color-bg);
  border-radius: 2px;
  opacity: 0;

  transition: opacity cubic-bezier(0.645, 0.045, 0.355, 1) .3s;

  .active &{
    opacity: 1;
    box-shadow: none;
    background: var(--color-gradient);
    border-color: var(--color-sub);
  }
}

.check-icon {
  width: .6rem;
  margin-top: .1rem;
}