.container {

  border: 1px solid var(--color-border);
  border-radius: 4px;

  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.large {
  width: 150px;
  height: 150px;
}

.small {
  width: 1.8rem;
  height: 1.8rem;
}