@import-normalize;

:root {
  --color-light: #F8F9FA;
  --color-main: #1904E5;
  --color-danger: #EB514C;
  --color-gray: #868E96;
  --color-disabled: rgb(230, 230, 230);
  --color-gray-light: rgb(230, 230, 230);
  --color-border: rgba(134, 142, 150, .35);
  --color-dark: #343A40;
  --color-sub: #076CF2;
  --color-sub-dark: #0830FC;
  --color-gradient: linear-gradient(29deg, #381CE9 0%, #6F46EF 100%);
  --color-bg: var(--color-light);
  --font-famaily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --size-h1: 72px;
  --size-h2: 48px;
  --size-h3: 36px;
  --size-h4: 24px;
  --size-normal: 16px;
  --size-small: 14px;
  --size-exsmall: 12px;

  --border-radius: 3.5px;

  --spacing: 1rem;

  font-family: var(--font-famaily);
  font-size: var(--font-normal);
  color: var(--color-dark);
  background: var(--color-light);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-size: var(--size-h4);
}

h1, h2, h3, h4 {
  margin: 0;
}

a,
a:hover,
a:visited,
a:active {
  color: currentColor;
  text-decoration: none;
}

a:not(.no-hover):hover {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  text-decoration-color: var(--color-gray-light);
}
