@import-normalize;

:root {
  --color-light: #F8F9FA;
  --color-main: #1904E5;
  --color-danger: #EB514C;
  --color-gray: #868E96;
  --color-dark: #343A40;
  --color-sub: #076CF2;
  --color-sub-dark: #0830FC;
  --color-gradient: linear-gradient(29deg, #381CE9 0%, #6F46EF 100%);
  --font-famaily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-family: var(--font-famaily);
  font-size: 16px;
  color: var(--color-dark);
  background: var(--color-light);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
