.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;

  margin-top: 1rem;

  section {
    text-align: left;
    flex: 3;
  }

  .logo-wrapper {
    text-align: center;
    flex: 4;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.logo {
  height: (100rem / 16);
  margin-top: (-10rem / 16);
}

.copyright {
  display: block;
  color: var(--color-gray);
  padding: .5rem 0 1rem;
}