.message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}

.item{
  display: inline-block;
  min-width: 150px;
  max-width: 100%;
  font-size: var(--size-small);
  background: white;
  padding: .5em 0;
  margin: .2em auto;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0px var(--color-gray-light)
}